body {width: 30%;}
h1 {text-align: center;}
#datos {background-color: #00ff00; text-align: center;}
#resultado {background-color: #0000ff; color: #ffffff;text-align: center;}
#botones {text-align: right;}
